#intro {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: #333333;
  font-weight: 400;
  color: white;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.intro-title {
  margin-bottom: 3.2rem;
  text-align: left;
  max-width: 37.5em
}
