#intro {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: #333333;
  font-weight: 400;
  color: white;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.intro-title {
  margin-bottom: 3.2rem;
  max-width: 37.5em
}

@media (min-width: 800px) {
  /* setPadding("0rem 5.6rem")
  //             setFontSize("3.5rem")
  //
               setTextAlign("left") */
  #intro {
    padding: 0rem 5.6rem!important;
    text-align: left!important;
  }
  #intro h1{
    font-size: 3.5rem!important;

  }
}

@media (min-width: 300px) {
  /* setPadding("0 1.6rem")
  //             setFontSize("2.5rem")
  //             setTextAlign("center") */
  #intro {
    padding: 0 1.6rem;
    font-size: 2.5rem;
    text-align: center;
  }
}